//COLORS
$color-white: #ffffff;
$color-black: #111111;

//grey shades
$color-grey-1: #f9f9f9;

$color-primary: #3a6150;
$color-secondary: #71837b;

//PADDING
$padding-desktop: 8rem 4rem;
$padding-inline-desktop: 6.4rem;
$padding-inline-mobile: 2.4rem;
$padding-mobile: 1.6rem;

//BREAKPOINTS
$bp-largest: 68.75em; //1100px
$bp-large: 56.25em; //900px
$bp-medium: 37.5em; //600px
$bp-small: 25em; //400px mobile
